/*Generals*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*custom properties*/
:root {
    --dark: rgb(35, 39, 42);
    --blue: rgb(37, 94, 233);
    --light: rgb(246, 246, 246);
    --purple: rgb(116, 138, 219);
}

body {
    font-family: 'Whitney', sans-serif;
}

.debug {
    border: 1px solid red;
}

.bg-blue {
    background-color: var(--blue);
}

.bg.light {
    background-color: var(--light);
}

.bg.dark {
    background-color: var(--dark);
}

.contrast {
    background-color: var(--purple);
}

.text-white {
    color: white;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

ul {
    list-style: none;
}

.inline-block {
    display: inline-block;
}


/*Utility flex*/

.flex-box {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.wrap {
    flex-wrap: wrap;
}
/*header*/

.text-white {
    color: white;
}

div ul li a {
    padding: 10px;
    text-decoration: none;
    color: white;
}
header div button {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    border-style: none;
}


/*main*/

.width1 {
    width: 60%;
}

.width2 {
    width: 40%;
}

.container-small {
    max-width: 800px;
    margin: auto;
}

.content {
    max-width: 80%;
}

.button {
    border-radius: 40px;
    height: 40px;
    border-style: none;
    padding: 10px 5px;
}

h1 {
    padding-bottom: 20px;
    font-size: xx-large;
}

.bg-image {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gap {
    gap: 10px;
}

/*footer*/
footer {
    background-color: var(--dark);
    color: white;
    height: 300px;
}